* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma;
    font-size: 12px;
    background-color: #1b1b1b;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

header img {
    width: 200px;
    margin: 15px;
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.boxmaior {
    width: 65%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.noticiaprincipal {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h2, p, h3 {
    text-align: left;
}

.imagemprincipal {
    width: 100%;
    height: auto;
}

.texto {
    text-align: left;
    padding-top: 10px;
}

.boxfundo {
    width: 30%;
    background-color:  #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxpreto {
    background-color: #000000;
    color: white;
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

.boxpreto img {
    width: 40%;
    height: auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    height: 100px;
}

.banner img {
    width: 700px;
}

.banner h3 {
    font-size: 20px;
    font-style: italic;
    color: #1b1b1b;
}

.nivel3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.noticia3 {
    width: 32%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    color: #ffffff;
}

.noticia3 img {
    width: 50%;
    height: auto;
}

.textonoticia3 {
    width: 80%;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    font-size: 14px;
}